<header class="site-header" role="banner">
  <div class="site-header-main">
  	<div class="site-branding">
  		<p class="site-title"><a href="/" rel="home">Hardware Wallet</a></p>
  		<p class="site-description">The most secure way to store your bitcoins and altcoins.</p>
  	</div><!-- .site-branding -->

  	<button id="menu-toggle" class="menu-toggle">Menu</button>

  	<div id="site-header-menu" class="site-header-menu">
  		<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Menu">
  			<div class="menu-hardware-wallet-container">
  				<ul id="menu-hardware-wallet" class="primary-menu">
            <li id="" class="menu-item"><a href="/">Hardware Wallet</a></li>
  					<li id="" class="menu-item"><a href="/ethereum-hardware-wallet/">Ether wallet</a></li>
  					<li id="" class="menu-item"><a href="/trezor-wallet/">Trezor Wallet</a></li>
  					<li id="" class="menu-item"><a href="/ledger-wallet/">Ledger Wallet</a></li>
  					<li id="" class="menu-item"><a href="/keepkey-wallet/">Keepkey Wallet</a></li>
  				</ul>
  			</div>
  		</nav><!-- .main-navigation -->

  	</div><!-- .site-header-menu -->
	</div><!-- .site-header-main -->
  <div class="header-image">
		<a href="/" rel="home">
  		<img src="/img/cropped-Hardware-Wallet-Eng.jpg" srcset="/img/cropped-Hardware-Wallet-Eng-300x79.jpg 300w, /img/cropped-Hardware-Wallet-Eng-768x202.jpg 768w, /img/cropped-Hardware-Wallet-Eng-1024x269.jpg 1024w, /img/cropped-Hardware-Wallet-Eng.jpg 1200w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 81vw, (max-width: 1362px) 88vw, 1200px" width="1200" height="315" alt="Hardware Wallet">
    </a>
	</div><!-- .header-image -->
</header>
<!-- .site-header -->
