<footer id="colophon" class="site-footer" role="contentinfo">
  <nav class="main-navigation" role="navigation" aria-label="Footer Primary Menu">
    <div class="menu-hardware-wallet-container">
      <ul id="menu-hardware-wallet-2" class="primary-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-17 current_page_item menu-item-25"><a href="http://hardware-wallet.com/">Hardware Wallet</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="http://hardware-wallet.com/bitcoin/">Bitcoin</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://hardware-wallet.com/security/">Security</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="http://hardware-wallet.com/ethereum-hardware-wallet/">Ether wallet</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="http://hardware-wallet.com/trezor-wallet/">Trezor Wallet</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="http://hardware-wallet.com/ledger-wallet/">Ledger Wallet</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a href="http://hardware-wallet.com/keepkey-wallet/">Keepkey Wallet</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="http://hardware-wallet.com/paper-wallet/">Paper wallet</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-193"><a href="http://hardware-wallet.com/vocabulary/">Vocabulary</a></li>
      </ul>
    </div>
  </nav><!-- .main-navigation -->


  <div class="site-info">
    <span class="site-title"><a href="http://hardware-wallet.com/" rel="home">Hardware Wallet</a></span>
  <a href="https://wordpress.org/">Proudly powered by WordPress</a>
  </div><!-- .site-info -->
</footer><!-- .site-footer -->
