---
layout: default
---

<div id="primary" class="content-area">
  <main id="main" class="site-main" >
    {% for post in site.posts %}
    <article >
    	<header class="entry-header">

    		<h2 class="entry-title"><a href="{{post.url}}" >{{post.title}}</a></h2>
      </header><!-- .entry-header -->

<style>
.entry-content h1{
  font-size:18px !important;
}
</style>

    	<div class="entry-content" style="">
        {{post.excerpt}}
    	</div><!-- .entry-content -->

    	<footer class="entry-footer">
    		<span class="byline"><span class="author vcard"><img alt="" src="https://secure.gravatar.com/avatar/407fb36bbf6a01e151680be9f408b5af?s=49&amp;d=identicon&amp;r=pg" srcset="https://secure.gravatar.com/avatar/407fb36bbf6a01e151680be9f408b5af?s=98&amp;d=identicon&amp;r=pg 2x" class="avatar avatar-49 photo" height="49" width="49"><span class="screen-reader-text">Author </span>
         <a class="url fn n" href="https://wp-themes.com/?author=1">Theme Admin</a>
       </span></span>
       <span class="posted-on">
Posted On
         <a href="{{post.url}}" rel="bookmark">
           <time class="entry-date published">{{post.date | date: "%a, %b %d, %y"}}</time></a>
       </span>
         </footer><!-- .entry-footer -->
    </article>
    {% endfor %}
  </main>
  <!-- .site-main -->
  <aside id="content-bottom-widgets" class="content-bottom-widgets" role="complementary">
		<div class="widget-area">
			<section id="text-4" class="widget widget_text"><h2 class="widget-title">Disclaimer</h2>
        <div class="textwidget">This website is created to inform visitors about hardware wallets and Bitcoin related products and refers them to the retailers. These retailers are responsible for the quality and delivery of the product and not this website.
        Cryptocurrencies can be risky. Everyone is responsible for his / her own actions. We are not responsible for any form of damage, lost or theft when you get involved in it.
        </div>
		  </section>
    </div><!-- .widget-area -->
	</aside>
  <!-- .content-bottom-widgets -->
</div>

<!-- .content-area  -->

{% include sidebar.html %}
